@model IEnumerable<Proyecto_Repuestos.Entities.ClienteEnt>

@{
    ViewBag.Title = "PanelAdmin";
}
<nav id="navigation">

    <div class="container">
        <div id="responsive-nav">

            <ul class="main-nav nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li><a href="#">Originales</a></li>
                <li><a href="#">Genericos</a></li>
                <li><a href="@Url.Action("RepUsados","Producto")">Usados</a></li>
                <li><a href="#">Accesorios</a></li>
                <li class="active"><a style=" color: red;" href="@Url.Action("Usuarios","Admin")">Panel Admin</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="section">
    <div class="container" style="margin-top:-30px">
        <div class="col-md-12">
            <div class="section-title">
                <div class="section-nav">
                    <ul class="section-tab-nav tab-nav">
                        <li><a href="@Url.Action("Usuarios","Admin")">Usuarios</a></li>
                        <li class="active"><a href="@Url.Action("Clientes","Admin")">Clientes</a></li>
                        <li><a href="@Url.Action("Productos","Admin")">Productos</a></li>
                        <li><a href="@Url.Action("Proveedores","Admin")">Proveedores</a></li>
                        <li><a href="@Url.Action("Roles","Admin")">Roles</a></li>
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" >
                        <table class="table align-middle bg-white ml-auto" id="tableusuarios" >
                            <thead>
                                <tr>
                                    <th style="text-align:center">Cedula</th>
                                    <th style="text-align:center">Nombre</th>
                                    <th style="text-align:center">Apellidos</th>
                                    <th style="text-align:center">Correo Electrónico</th>
                                    <th style="text-align:center">Telefono</th>
                                    <th style="text-align:center">Direccion</th>
                                    <th style="text-align:center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.cliente_cedula</td>
                                        <td>@item.cliente_nombre</td>
                                        <td>@item.cliente_apellido</td>
                                        <td>@item.cliente_correo</td>
                                        <td>@item.cliente_telefono</td>
                                        <td>@item.cliente_direccion</td>
                                        <td>
                                            <button class="btn btn-warning" data-toggle="modal" data-target="#modificacliente"><i class="fa fa-solid fa-pencil-square-o"></i></button>
                                            <button class="btn btn-primary" data-target="#cambiarestado"><i class="fas fa-user-cog"></i></button>
                                            <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br><br>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevocliente" style="font-weight: bold">
                        Nuevo Cliente
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="nuevocliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Creación de Cliente</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cedula">Cedula</label>
                    <input type="number" class="form-control" id="cedula" placeholder="Ingrese el numero de cedula">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese el nombre">
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" placeholder="Ingrese los apellidos">
                </div>
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" id="correo" placeholder="Ingrese el correo electronico">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="number" class="form-control" id="telefono" placeholder="Ingrese el numero de telefono">
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" id="direccion" placeholder="Ingrese la direccion">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modificacliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificacion de Cliente</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="number" class="form-control" id="id" disabled min="0">
                </div>
                <div class="form-group">
                    <label for="cedula">Cedula</label>
                    <input type="number" class="form-control" id="cedula" min="0">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos">
                </div>
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="email" class="form-control" id="correo">
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="number" class="form-control" id="telefono" min="0">
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" id="direccion">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tableusuarios').DataTable({
            ordering: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            }
        });
    });
</script>