@model IEnumerable<Proyecto_Repuestos.Entities.ClienteEnt>

@{
    ViewBag.Title = "PanelAdmin";
}

<nav id="navigation">

    <div class="container">
        <div id="responsive-nav">

            <ul class="main-nav nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li><a href="@Url.Action("RepOriginales","Producto")">Originales</a></li>
                <li><a href="@Url.Action("RepGenericos","Producto")">Genericos</a></li>
                <li><a href="@Url.Action("RepUsados","Producto")">Usados</a></li>
                <li class="active"><a style=" color: red;" href="@Url.Action("Usuarios","Admin")">Panel Admin</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="section">
    <div class="container" style="margin-top:-30px">
        <div class="col-md-12">
            <div class="section-title">
                <div class="section-nav">
                    <ul class="section-tab-nav tab-nav">
                        <li><a href="@Url.Action("Facturas","Admin")">Facturas</a></li>
                        <li><a href="@Url.Action("Usuarios","Admin")">Usuarios</a></li>
                        <li class="active"><a href="@Url.Action("Clientes","Admin")">Clientes</a></li>
                        <li><a href="@Url.Action("Productos","Admin")">Productos</a></li>
                        <li><a href="@Url.Action("Proveedores","Admin")">Proveedores</a></li>
                        <li><a href="@Url.Action("Roles","Admin")">Roles</a></li>
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevocliente" style="font-weight: bold">
                        Nuevo Cliente
                    </button>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table align-middle bg-white ml-auto" id="clientestable">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Cedula</th>
                                    <th style="text-align:center">Nombre</th>
                                    <th style="text-align:center">Apellidos</th>
                                    <th style="text-align:center">Correo Electrónico</th>
                                    <th style="text-align:center">Telefono</th>
                                    <th style="text-align:center">Direccion</th>
                                    <th style="text-align:center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.cliente_cedula</td>
                                        <td>@item.cliente_nombre</td>
                                        <td>@item.cliente_apellido</td>
                                        <td>@item.cliente_correo</td>
                                        <td>@item.cliente_telefono</td>
                                        <td>@item.cliente_direccion</td>
                                        <td>
                                            <button class="btn btn-warning btn-modificar-cliente"
                                                    data-toggle="modal"
                                                    data-target="#modificacliente"
                                                    data-cliente-id="@item.cliente_id"
                                                    data-cliente-cedula="@item.cliente_cedula"
                                                    data-cliente-nombre="@item.cliente_nombre"
                                                    data-cliente-apellido="@item.cliente_apellido"
                                                    data-cliente-correo="@item.cliente_correo"
                                                    data-cliente-telefono="@item.cliente_telefono"
                                                    data-cliente-direccion="@item.cliente_direccion">
                                                <i class="fa fa-solid fa-pencil-square-o"></i>
                                            </button>
                                            <button class="btn btn-primary" data-target="#cambiarestado"><i class="fas fa-user-cog"></i></button>
                                            <button class="btn btn-danger btnborracliente" data-cliente-id="@item.cliente_id">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br><br>

        </div>
    </div>
</div>

<!-- Modal Modificar Cliente -->
<div class="modal fade" id="modificacliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificacion de Producto</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" disabled>
                </div>
                <div class="form-group">
                    <label for="cedula">Cedula</label>
                    <input type="number" class="form-control" id="cedula" required min="0">
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" id="nombre" required>
                </div>
                <div class="form-group">
                    <label for="apellidos">Apellidos</label>
                    <input type="text" class="form-control" id="apellidos" required>
                </div>
                <div class="form-group">
                    <label for="correo">Correo</label>
                    <input type="text" class="form-control" id="correo" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono</label>
                    <input type="number" class="form-control" id="telefono" min="0" required>
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion</label>
                    <input type="text" class="form-control" id="direccion" min="0" required>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btnGuardarCliente">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal Nuevo Cliente -->
<div class="modal fade" id="nuevocliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Creación de Producto</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="cedula">Cedula:</label>
                    <input type="number" min="0" class="form-control" id="cedulanuevo" placeholder="Ingrese la cedula del cliente" required>
                </div>
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombrenuevo" placeholder="Ingrese el nombre del cliente" required>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellidos:</label>
                    <input type="text"  class="form-control" id="apellidonuevo" placeholder="Ingrese los apellidos del cliente" required>
                </div>
                <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="email" class="form-control" id="correonuevo" placeholder="Ingrese el correo del cliente" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Telefono:</label>
                    <input type="number" min="0" class="form-control" id="telefononuevo" placeholder="Ingrese el telefono del cliente" required>
                </div>
                <div class="form-group">
                    <label for="direccion">Direccion:</label>
                    <input type="text" class="form-control" id="direccionnuevo" placeholder="Ingrese la direccion del cliente" required>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" id="btncreacliente">Confirmar</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="urlClientes" value="@Url.Action("Clientes", "Admin")">


