@model IEnumerable<Proyecto_Repuestos.Entities.ProductoEnt>

@{
    ViewBag.Title = "PanelAdmin";
}
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li><a href="@Url.Action("RepOriginales","Producto")">Originales</a></li>
                <li><a href="@Url.Action("RepGenericos","Producto")">Genericos</a></li>
                <li><a href="@Url.Action("RepUsados","Producto")">Usados</a></li>
                <li class="active"><a style=" color: red;" href="@Url.Action("Usuarios","Admin")">Panel Admin</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<div class="section">
    <div class="container">
        <div class="row">

            <div class="col-md-12">
                <div class="section-title">
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li><a  href="@Url.Action("Usuarios","Admin")">Usuarios</a></li>
                            <li><a  href="@Url.Action("Clientes","Admin")">Clientes</a></li>
                            <li><a  href="@Url.Action("Productos","Admin")">Productos</a></li>
                            <li><a  href="@Url.Action("Proveedores","Admin")">Proveedores</a></li>
                            <li><a  href="@Url.Action("Roles","Admin")">Roles</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

