@model IEnumerable<Proyecto_Repuestos.Entities.ProductoEnt>

@{
    ViewBag.Title = "PanelAdmin";
}
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li><a href="#">Originales</a></li>
                <li><a href="#">Genericos</a></li>
                <li><a href="@Url.Action("RepUsados","Producto")">Usados</a></li>
                <li><a href="#">Accesorios</a></li>
                <li class="active"><a style=" color: red;" href="@Url.Action("PanelAdmin","Admin")">Panel Admin</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->

<div class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">


                <div class="section-title">
                    <h3 class="title">ADMINISTRACION</h3>
                    <div class="section-nav">
                        <ul class="section-tab-nav tab-nav">
                            <li><a href="@Url.Action("Usuarios","Admin")">Usuarios</a></li>
                            <li><a href="@Url.Action("Clientes","Admin")">Clientes</a></li>
                            <li class="active"><a href="@Url.Action("Productos","Admin")">Productos</a></liclass="active">
                            <li><a href="@Url.Action("Proveedores","Admin")">Proveedores</a></li>
                            <li><a href="@Url.Action("Estados","Admin")">Estados</a></li>
                            <li><a href="@Url.Action("Roles","Admin")">Roles</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-8" style="margin-bottom: 30px;">
                        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevoproducto" style="font-weight: bold">
                            Nuevo Producto
                        </button>
                    </div>
                </div>
                <div class="container">

                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <table class="table align-middle bg-white" id="tableusuarios">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Descripcion</th>
                                        <th>Estado</th>
                                        <th>Existencias</th>
                                        <th>Precio</th>
                                        <th>Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.producto_id</td>
                                            <td>@item.producto_descripcion</td>
                                            <td>@item.estado_descripcion</td>
                                            <td>@item.producto_existencias</td>
                                            <td>@item.producto_precio</td>
                                            <td>
                                                <button class="btn btn-warning" data-toggle="modal" data-target="#modificaproducto"><i class="fa fa-solid fa-pencil-square-o"></i></button>
                                                <button class="btn btn-danger"><i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Nuevo Producto -->
<div class="modal fade" id="nuevoproducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Creación de Producto</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="form-control" id="nombre" placeholder="Ingrese la descripcion del producto">
                </div>
                <div class="form-group">
                    <label for="correo">Cantidad:</label>
                    <input min="0" type="number" class="form-control" id="correo" placeholder="Ingrese la cantidad">
                </div>
                <div class="form-group">
                    <label for="correo">Precio:</label>
                    <input type="number" min="0" class="form-control" id="precio" placeholder="Ingrese el precio del producto">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="guardarUsuario()">Confirmar</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Modificar Producto -->
<div class="modal fade" id="modificaproducto" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modificacion de Producto</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" disabled>
                </div>
                <div class="form-group">
                    <label for="descripcion">Descripcion</label>
                    <input type="text" class="form-control" id="descripcion">
                </div>
                <div class="form-group">
                    <label for="correo">Estado</label>
                    <input type="text" class="form-control" id="estado" disabled>
                </div>
                <div class="form-group">
                    <label for="existencias">Existencias</label>
                    <input type="number" class="form-control" id="existencias" disabled>
                </div>
                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" class="form-control" id="precio" >
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success" onclick="guardarUsuario()">Confirmar</button>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $('#tableusuarios').DataTable({
            ordering: false,
            language: {
                "sProcessing": "Procesando...",
                "sLengthMenu": "Mostrar _MENU_ registros",
                "sZeroRecords": "No se encontraron resultados",
                "sEmptyTable": "Ningún dato disponible en esta tabla",
                "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix": "",
                "sSearch": "Buscar:",
                "sUrl": "",
                "sInfoThousands": ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst": "Primero",
                    "sLast": "Último",
                    "sNext": "Siguiente",
                    "sPrevious": "Anterior"
                }
            }
        });
    });
</script>