@model IEnumerable<Proyecto_Repuestos.Entities.ProveedoresEnt>

@{
    ViewBag.Title = "PanelAdmin";
}

<nav id="navigation">

    <div class="container">
        <div id="responsive-nav">

            <ul class="main-nav nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li><a href="@Url.Action("RepOriginales","Producto")">Originales</a></li>
                <li><a href="@Url.Action("RepGenericos","Producto")">Genericos</a></li>
                <li><a href="@Url.Action("RepUsados","Producto")">Usados</a></li>
                <li class="active"><a style=" color: red;" href="@Url.Action("Facturas","Admin")">Panel Admin</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="section">
    <div class="container" style="margin-top:-30px">
        <div class="col-md-12">
            <div class="section-title">
                <div class="section-nav">
                    <ul class="section-tab-nav tab-nav">
                        <li><a href="@Url.Action("Facturas","Admin")">Facturas</a></li>
                        <li><a href="@Url.Action("Usuarios","Admin")">Usuarios</a></li>
                        <li><a href="@Url.Action("Clientes","Admin")">Clientes</a></li>
                        <li><a href="@Url.Action("Productos","Admin")">Productos</a></li>
                        <li class="active"><a href="@Url.Action("Proveedores","Admin")">Proveedores</a></liclass="active">
                        <li><a href="@Url.Action("Roles","Admin")">Roles</a></li>
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevoproveedor" style="font-weight: bold">
                        Nuevo Proveedor
                    </button>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table align-middle bg-white ml-auto" id="clientestable">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Cédula</th>
                                    <th style="text-align:center">Nombre</th>
                                    <th style="text-align:center">Apellido</th>
                                    <th style="text-align:center">Correo Electrónico</th>
                                    <th style="text-align:center">Teléfono</th>
                                    <th style="text-align:center">Dirección</th>
                                    <th style="text-align:center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.proveedor_cedula</td>
                                        <td>@item.proveedor_nombre</td>
                                        <td>@item.proveedor_apellido</td>
                                        <td>@item.proveedor_correo</td>
                                        <td>@item.proveedor_telefono</td>
                                        <td>@item.proveedor_direccion</td>
                                        <td>
                                            <button class="btn btn-warning btn-modificar-proveedor"
                                                    data-toggle="modal"
                                                    data-target="#modificaproveedor"
                                                    data-proveedor-id="@item.proveedor_id"
                                                    data-proveedor-cedula="@item.proveedor_cedula"
                                                    data-proveedor-nombre="@item.proveedor_nombre"
                                                    data-proveedor-apellido="@item.proveedor_apellido"
                                                    data-proveedor-correo="@item.proveedor_correo"
                                                    data-proveedor-telefono="@item.proveedor_telefono"
                                                    data-proveedor-direccion="@item.proveedor_direccion">
                                                <i class="fa fa-solid fa-pencil-square-o"></i>
                                            </button>
                                            <button class="btn btn-danger btnborraproveedor" data-proveedor-id="@item.proveedor_id">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <br><br>

        </div>
    </div>

    <!-- Modal Modificar Producto -->
    <div class="modal fade" id="modificaproveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- Use a form to wrap the modal content -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modificacion de Proveedor</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="idproveedor">ID</label>
                        <input type="text" class="form-control" id="idproveedor" disabled>
                    </div>
                    <div class="form-group">
                        <label for="cedulaproveedor">Cedula</label>
                        <input min="1" type="number" class="form-control" id="cedulaproveedor">
                    </div>
                    <div class="form-group">
                        <label for="nombreproveedor">Nombre</label>
                        <input type="text" class="form-control" id="nombreproveedor">
                    </div>
                    <div class="form-group">
                        <label for="apellidoproveedor">Apellido</label>
                        <input type="text" class="form-control" id="apellidoproveedor">
                    </div>
                    <div class="form-group">
                        <label for="correoproveedor">Correo</label>
                        <input type="email" class="form-control" id="correoproveedor">
                    </div>
                    <div class="form-group">
                        <label for="telefonoproveedor">Telefono</label>
                        <input min="1" type="number" class="form-control" id="telefonoproveedor">
                    </div>
                    <div class="form-group">
                        <label for="direccionproveedor">direccion</label>
                        <input type="text" class="form-control" id="direccionproveedor">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btnGuardarProveedor">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Nuevo Proveedor -->
    <div class="modal fade" id="nuevoproveedor" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Creación de Proveedor</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="cedulaproveedor">Cedula</label>
                        <input min="1" type="number" class="form-control" id="cedulaproveedornuevo" required placeholder="Ingrese la cedula del proveedor">
                    </div>
                    <div class="form-group">
                        <label for="nombreproveedor">Nombre</label>
                        <input type="text" class="form-control" id="nombreproveedornuevo" required placeholder="Ingrese el nombre del proveedor">
                    </div>
                    <div class="form-group">
                        <label for="apellidoproveedor">Apellido</label>
                        <input type="text" class="form-control" id="apellidoproveedornuevo" required placeholder="Ingrese el apellido del proveedor">
                    </div>
                    <div class="form-group">
                        <label for="correoproveedor">Correo</label>
                        <input type="email" class="form-control" id="correoproveedornuevo" required placeholder="Ingrese el correo del proveedor">
                    </div>
                    <div class="form-group">
                        <label for="telefonoproveedor">Telefono</label>
                        <input  min="1" type="number" class="form-control" id="telefonoproveedornuevo" required placeholder="Ingrese el telefono del proveedor">
                    </div>
                    <div class="form-group">
                        <label for="direccionproveedor">direccion</label>
                        <input type="text" class="form-control" id="direccionproveedornuevo" required placeholder="Ingrese la direccion del proveedor">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btncreaproveedor">Confirmar</button>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="urlProveedores" value="@Url.Action("Proveedores", "Admin")">
