@model IEnumerable<Proyecto_Repuestos.Entities.RolesEnt>

@{
    ViewBag.Title = "PanelAdmin";
}

<nav id="navigation">

    <div class="container">
        <div id="responsive-nav">

            <ul class="main-nav nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li><a href="@Url.Action("RepOriginales","Producto")">Originales</a></li>
                <li><a href="@Url.Action("RepGenericos","Producto")">Genericos</a></li>
                <li><a href="@Url.Action("RepUsados","Producto")">Usados</a></li>
                <li class="active"><a style=" color: red;" href="@Url.Action("Facturas","Admin")">Panel Admin</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="section">
    <div class="container" style="margin-top:-30px">
        <div class="col-md-12">
            <div class="section-title">
                <div class="section-nav">
                    <ul class="section-tab-nav tab-nav">
                        <li><a href="@Url.Action("Facturas","Admin")">Facturas</a></li>
                        <li><a href="@Url.Action("Ordenes","Admin")">Órdenes</a></li>
                        <li><a href="@Url.Action("Usuarios","Admin")">Usuarios</a></li>
                        <li><a href="@Url.Action("Clientes","Admin")">Clientes</a></li>
                        <li><a href="@Url.Action("Productos","Admin")">Productos</a></li>
                        <li><a href="@Url.Action("Proveedores","Admin")">Proveedores</a></li>
                        <li class="active"><a href="@Url.Action("Roles","Admin")">Roles</a></li>
                    </ul>
                </div>
            </div>
            <br><br>
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#nuevorol" style="font-weight: bold">
                        Nuevo Rol
                    </button>
                </div>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table align-middle bg-white ml-auto" id="rolestable">
                            <thead>
                                <tr>
                                    <th style="text-align:center">Rol Id</th>
                                    <th style="text-align:center">Descripción del Rol</th>
                                    <th style="text-align:center">Acciones</th>
                                </tr>
                            </thead>
                            <tbody style="text-align:center">
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.rol_id</td>
                                        <td>@item.rol_descripcion</td>
                                        <td>
                                            <button class="btn btn-warning btn-modificar-roles"
                                                    data-toggle="modal"
                                                    data-target="#modificarol"
                                                    data-rol-id="@item.rol_id"
                                                    data-rol-descripcion="@item.rol_descripcion">
                                                <i class="fa fa-solid fa-pencil-square-o"></i>
                                            </button>
                                            <button class="btn btn-danger btnborrarol" data-rol-id="@item.rol_id">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <!-- Modal Modificar Rol -->
    <div class="modal fade" id="modificarol" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- Use a form to wrap the modal content -->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modificacion de Rol</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="rolid">ID</label>
                        <input type="number" class="form-control" id="rolid" disabled>
                    </div>
                    <div class="form-group">
                        <label for="roldescripcion">Descripcion</label>
                        <input type="text" class="form-control" id="roldescripcion">
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btnGuardarRol">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Nuevo Rol -->
    <div class="modal fade" id="nuevorol" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Creación de Rol</h5>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="descripcionrolnuevo">Descripcion:</label>
                        <input type="text" class="form-control" id="descripcionrolnuevo" placeholder="Ingrese la descripcion del rol" required>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-success" id="btncrearol">Confirmar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="urlRoles" value="@Url.Action("Roles", "Admin")">
