@{
    ViewBag.Title = "Index";
}
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li><a href="@Url.Action("RepOriginales","Producto")">Originales</a></li>
                <li><a href="@Url.Action("RepGenericos","Producto")">Genericos</a></li>
                <li><a href="@Url.Action("RepUsados","Producto")">Usados</a></li>
                @if (Session["idRolUsuario"] != null && Session["idRolUsuario"].ToString() == "1")
                {
                    <li><a style=" color: red;" href="@Url.Action("PanelAdmin", "Admin")">Panel Admin</a></li>
                }
                </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/WebStyles/img/llantas.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Repuestos<br>Originales</h3>
                        <a href="@Url.Action("RepOriginales","Producto")" class="cta-btn">Comprar ahora <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/WebStyles/img/aro.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Repuestos<br>Genericos</h3>
                        <a href="@Url.Action("RepGenericos","Producto")" class="cta-btn">Comprar ahora <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
            <!-- shop -->
            <div class="col-md-4 col-xs-6">
                <div class="shop">
                    <div class="shop-img">
                        <img src="~/WebStyles/img/rotulas.png" alt="">
                    </div>
                    <div class="shop-body">
                        <h3>Repuestos<br>Usados</h3>
                        <a href="@Url.Action("RepUsados","Producto")" class="cta-btn">Comprar ahora <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
            <!-- /shop -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
