@model IEnumerable<Proyecto_Repuestos.Entities.ProductoEnt>

@{
    ViewBag.Title = "RepUsados";
}
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                <li><a href="@Url.Action("RepOriginales","Producto")">Originales</a></li>
                <li><a href="@Url.Action("RepGenericos","Producto")">Genericos</a></li>
                <li class="active"><a href="@Url.Action("RepUsados","Producto")">Usados</a></li>
                @if (Session["idRolUsuario"] != null && Session["idRolUsuario"].ToString() == "1")
                {
                    <li><a style=" color: red;" href="@Url.Action("Facturas", "Admin")">Panel Admin</a></li>
                }
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->
<!-- PRODUCTOS -->
<div class="section">
    <div class="container">
        @if (Model.Any(item => item.categoria_id == 1))
        {
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.categoria_id == 1)
                    {
                        <div class="col-md-4">
                            <div class="product">
                                <div class="product-img" style="max-height: 150px;">
                                    <img src="~/WebStyles/img/aro.png" alt="">
                                    <div class="product-label">
                                        @if (item.estado_id == 2)
                                        {
                                            <span class="new">AGOTADO</span>
                                        }
                                    </div>
                                </div>
                                <div class="product-body">
                                    <p class="product-category">@item.categoria_descripcion</p>
                                    <h3 class="product-name"><a href="#">@item.producto_descripcion</a></h3>
                                    <h4 class="product-price">$@item.producto_precio</h4>
                                    <div class="product-btns">
                                        <button class="quick-view" data-toggle="modal" data-target="#productModal" data-product-description="@item.producto_descripcion" data-product-price="@item.producto_precio"><i class="fa fa-eye"></i><span class="tooltipp">Vista Rápida</span></button>
                                    </div>
                                </div>
                                @if (item.estado_id == 1)
                                {
                                    <div class="add-to-cart">
                                        <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Añadir al carrito</button>
                                    </div>
                                }

                            </div>
                        </div>
                    }
                }
            </div>
        }
        else
        {
            <div style="text-align:center" class="alert alert-danger" role="alert">
                <b>No hay productos usados disponibles</b>
            </div>
        }
    </div>
</div>

@if (!Model.Any())
{
    <div style="text-align:center" class="alert alert-danger" role="alert">
        <b>No hay productos disponibles</b>
    </div>
}
<!-- /PRODUCTOS -->
<!-- Infomarcion Producto Modal -->
<div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Detalles del Producto</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="productModalBody">
                <!-- Aquí se cargarán los detalles del producto seleccionado -->
            </div>
        </div>
    </div>
</div>
