<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iniciar sesión</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/WebStyles/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="~/WebStyles/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/WebStyles/css/slick-theme.css" />
    <link type="text/css" rel="stylesheet" href="~/WebStyles/css/nouislider.min.css" />
    <link rel="stylesheet" href="~/WebStyles/css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="~/WebStyles/css/style.css" />

</head>
<body style="background-color: whitesmoke">
    <header>
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><i class="fa fa-phone"></i><span style="color: white;">2444-0542</span></li>
                    <li><a href="mailto: repuestosrojas@gmail.com"><i class="fa fa-envelope"></i> repuestosrojas@gmail.com</a></li>
                    <li><a href="https://goo.gl/maps/ngQWBDYNty6Smir18"><i class="fa fa-map-marker"></i>Provincia de Alajuela, Grecia</a></li>
                </ul>
                <ul class="header-links pull-right">
                    @if (Session["NombreUsuario"] != null)
                    {
                        <li><a href="@Url.Action("CerrarSesion","Home")"><i class="fa fa-user-o"></i> Cerrar Sesion</a></li>
                        <li style="color:white"><i class="fa fa-user-o"></i> Usuario: @Session["NombreUsuario"]</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-cog"></i> Opciones</a>
                            <ul class="dropdown-menu" style="background-color: #333;">
                                <li><a style="background-color: transparent;" href="@Url.Action("Cambiar","Home")">Recuperar Contraseña</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Login","Home")"><i class="fa fa-user-o"></i> Iniciar Sesión</a></li>
                    }

                </ul>
            </div>
        </div>
        <div id="header">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="@Url.Action("Index","Home")" class="logo">
                                <img src="~/WebStyles/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <main>
        <div class="container">

            <br /><br /><br />
            @RenderBody()

        </div>
        <br>
        <br>
        <br>
        <br>
        <footer id="footer">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Acerca de nosotros</h3>
                                <p style="text-align: justify;">Proveemos repuestos de vehículos confiables y de calidad, satisfaciendo las necesidades de nuestros clientes.</p>
                                <ul class="footer-links">
                                    <li><a href="https://goo.gl/maps/ngQWBDYNty6Smir18"><i class="fa fa-map-marker"></i>Provincia de Alajuela, Grecia</a></li>
                                    <li><i class="fa fa-phone"></i>2444-0542</li>
                                    <li><a href="mailto: repuestosrojas@gmail.com"><i class="fa fa-envelope-o"></i>repuestosrojas@gmail.com</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="clearfix visible-xs"></div>

                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Información</h3>
                                <ul class="footer-links">
                                        <li><a href="@Url.Action("About","Home")">¿Quiénes somos?</a></li>
                                        <li><a href="@Url.Action("Contact","Home")">Contáctenos</a></li>
                                        <li><a href="@Url.Action("Terminos","Home")">Términos y Condiciones</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-md-3 col-xs-6">
                            <div class="footer">
                                <h3 class="footer-title">Servicios</h3>
                                <ul class="footer-links">
                                    <li><a href="@Url.Action("Login","Home")">Mi Cuenta</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-3 col-xs-6" style="text-align: center;">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.4664689894144!2d-84.31286108863766!3d10.060811171942337!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0584c904beee9%3A0x990168da655a2578!2sRepuestos%20Rojas%20Grecia!5e0!3m2!1ses-419!2scr!4v1691643192537!5m2!1ses-419!2scr" width="350" height="275" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottom-footer" class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved <a></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </main>
    <script src="https://kit.fontawesome.com/1720a7cd30.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.19.3/jquery.validate.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.19.3/additional-methods.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation.unobtrusive/3.2.13/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>